# Configuration and Credential Files
.env
credentials.json
token.json

# Directories
attachments/

# Ignore Mac OS X system files
.DS_Store

# Or to ensure all instances in subdirectories are ignored:
# **/.DS_Store